@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --x:0px;
  --y:0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #FFFFFF;
  overscroll-behavior: none;
  background:rgb(3, 0, 25);
}

/* .enclose{
  position: relative;
  height:100vh;
  width:100vw;
}

.enclose::before{
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, rgb(21, 19, 47), transparent);
  transform: translate(-50%, -40%);
  transition: width 0.1s ease, height 0.1s ease;
}

.enclose:hover::before{
  --size: 10px;
} */

@media screen and (min-width:900px) {
  .intro{
    height:calc(100vh - 96px);
  }
}
